.listOfResult {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 1rem;
  width: 500px;
  height: 500px;
  justify-content: center;

  .dataItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    * {
      height: 3rem;
    }

    .unit {
      color: #00163f;
    }
  }

  i,
  span {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  i {
    flex-shrink: 0;
    min-width: 55px;
  }
}
